@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom,#912f66,#3f3368);
    overflow: hidden;
}
.wrapper{
    width:500px;
    padding:30px;
    border-radius: 7px;
    background: #fff;
}
.wrapper header{
    color: #46406c;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}
.wrapper{
    margin: 40px 0 20px 0;
}
input,select.button{
    width: 100%;
    outline: none;
    border: none;
}
 p{
    font-size: 18px;
    margin-bottom: 2px;
}
input{
    height: 50px;
    border: 1px solid #999;
}
input:focus{
    padding: 0 14px;
    border: 2px solid #3f3368;
}
 .drop-list{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}
.drop-list .select-box{
    display: flex;
    height: 45px;
    width: 110px;
    border-radius: 5px;
   align-items: center;
   justify-content: center;
   border: 1px solid #999;
}
.select-box select{
    width: auto;
    font-size: 16px;
    margin: 0 -5px 0 5px;
}
.drop-list .icon{
    cursor: pointer;
    font-size: 22px;
    margin-top: 30px;
}
.exchange-rate{
    font-size: 17px;
    margin: 20px 0 30px;
}
button{
    width: 400px;
    height: 52px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    background: #46406c;
}
.R{
    font-weight: bold;
}